.movie{
    display: flex;
    width: 50%;
    color: white;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: grey;
    margin-top: 6rem;
    font-size: 30px;
}