.movie{
    display: flex;
    width: auto;
    color: white;
    justify-content: center;
    text-align: center;
    margin: 14px;
    background-color: grey;
    margin-top: 6rem;
    font-size: 30px;
    border-radius: 10px;
}

p{
  padding:15px;
}
 

@media screen and (min-width: 768px) {
  .movie {
    width: 50%;
    color: #fff;
    justify-content: center;
    text-align: center;
    background-color: grey;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 5em;
    border-radius: 10px;
  }
}
